
<div fxLayoutAlign="center">
    <h2>Vechicles</h2>
</div>
<div fxLayout="row" fxLayoutGap="0.5%" class="btn-page">
  <div> 
      <button (click)="goPrevious()"  color="primary" mat-raised-button>PREVIOUS</button>&nbsp;
  </div>
  <div>
      <button (click)="goNext()"  color="primary" mat-raised-button>NEXT</button>
  </div>
</div>
<div class="work" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" >
    <mat-card fxFlex.xs="100%" fxFlex.sm="30%" fxFlex.xl="17%" fxFlex.lg="17%"  class="card-picture card" *ngFor="let vehicle of vehicles" >
     <mat-card-title (click)="getVehicleDetails(vehicle['url'])">{{vehicle.name}}</mat-card-title>
    <mat-card-subtitle>vehicle</mat-card-subtitle>

    <img mat-card-image src="{{vehicle.img_url}}" (click)="getVehicleDetails(vehicle['url'])">
     <mat-card-actions>


    <button (click)="getVehicleDetails(vehicle['url'])" mat-button>View</button>
    <button mat-button>SHARE</button>

  </mat-card-actions>
  </mat-card>

  </div>
