<h2>Peoples</h2>

<mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text">
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" >
  <mat-card class="card-picture" *ngFor="let people of peoples" >
     <mat-card-title (click)="getPeopleDetails(people['url'])">{{people.name}}</mat-card-title>
    <mat-card-subtitle>Character</mat-card-subtitle>

    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR53ELJqdykZFmQMJMK7JvFPKRFuz7lbWdrwDvo18DXXoL2I4UP" (click)="getPeopleDetails(people['url'])">
     <mat-card-actions>


    <button (click)="getPeopleDetails(people['url'])" mat-button>View</button>
    <button mat-button>SHARE</button>

  </mat-card-actions>
  </mat-card>
</div>




