<!-- <h2>Films</h2>

<mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text">
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br> -->

<!-- <div class="btnNexPrev" fxLayout="row" fxLayoutAlign="center">
  <button (click)="goPrevious()"  color="primary" mat-raised-button>PREVIOUS</button>&nbsp;
  <button (click)="goNext()"  color="primary" mat-raised-button>NEXT</button>
</div> -->

<div class="work" fxLayout="row" fxFlex.xs="100%" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  
  <mat-card class="card-picture card" fxFlex.xs="100%" fxFlex.sm="30%" fxFlex.xl="20%" fxFlex.lg="20%" fxFlex.lg="20%" *ngFor="let film of films" >

     <mat-card-title (click)="getFilmDetails(film['url'])">{{film.title}}</mat-card-title>
    <mat-card-subtitle>Film</mat-card-subtitle>

    <img mat-card-image src="{{film.img_url}}" (click)="getFilmDetails(film['url'])">
     <mat-card-actions>


    <button (click)="getFilmDetails(film['url'])" mat-button>View</button>
    <button mat-button (click)="shareApi()"> <strong>Share</strong></button>

  </mat-card-actions>
  </mat-card>

  </div>
