

mat-card-content, mat-card-title, mat-card-actions {
  text-align: center;

}

mat-card-content{
  padding-top: 20px;
  padding-bottom: 20px;
}

.mat-card-mini{
font-size: 7px;
}

.advanced-color{
  color: #3f51b5;
}

.beginner-color{
  color: #f44336;
}

.MovieInfo
{
  width: 15%;
}
.sec-info
{
  margin-bottom: 20px;
}
.header-img{
  width: 100px;
  margin: 4px
}
.sm-card
{
  margin-bottom: 10px;
}
